
.title-page {
    float: left;
    width: 100%;
    padding: 0 10px;
    color: #3d619a;
    font-size: 20px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #3d619a;
}

.content-page {
    padding: 80px 30px 30px 30px;
}

#grid-cancelados .dx-datagrid-table  {
    table-layout: inherit !important;
}

#grid-cancelados .dx-datagrid-rowsview .dx-datagrid-table tbody[role="presentation"] {
    display: none !important;
}

#gridContainer, #grid-cancelados {
    float: left;
    width: 100%;
}

.content-page .dx-datagrid-header-panel, .content-page .dx-toolbar {
    background: #f7f7f7;
}

.content-page #grid-cancelados .dx-datagrid-header-panel, .content-page #grid-cancelados .dx-toolbar {
    background: #FFFFFF;
}

.content-page .dx-toolbar-after {
    left: 0;
    padding-left: 0 !important;
}

.content-page .dx-toolbar-after .dx-datagrid-search-panel {
    margin-left: 0 !important;
}

.content-page .row-item {
    float: left;
    width: 100%;
    padding: 10px 15px;
    position: relative;
    border-bottom: 1px solid #ddd;
}

.content-page .row-item td {
    float: left;
    width: 100%;
    padding: 0 !important;
    border: none !important;
    background: transparent !important;
}

.content-page .row-item .thumbnail {
    float: left;
    width: 90px;
    height: 90px;
    padding: 1px;
    overflow: hidden;
    border-radius: 2px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.content-page .row-item .content-description {
    float: left;
    overflow: hidden;
    padding-left: 30px;
    box-sizing: border-box;
    width: calc(100% - 230px);
}

.content-page .row-item .content-description .title {
    color: #666;
    margin: 5px 0;
    font-size: 18px;
}

.content-page .row-item .content-description .title strong {
    font-weight: bold;
}

.content-page .row-item .content-description .detalhe {
    float: left;
    width: 100%;
    margin-top: 20px;
    border: none;
    color: #666;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    text-align: left;
    background: #FFF;
}

.content-page .row-item .content-description .detalhe .fa {
    vertical-align: bottom;
}

.content-page .row-item .content-description p {
    float: left;
    width: 100%;
    color: #777;
    font-size: 14px;
    line-height: 120%;
    white-space: normal;
}

.content-page .row-item .content-description .price {
    float: left;
    width: 100%;
    font-size: 18px;
    color: #4daa4e;
    font-weight: bold;
}

.content-page .title-detail {
    float: left;
    width: 100%;
    color: #666666;
    font-size: 18px;
    font-weight: bold;
}
.content-page .content-info-client {
    width: 60%;
    float: left;
    margin-bottom: 15px;
}

.content-page .content-info-client li {
    width: 50%;
    float: left;
    padding: 15px 15px 0 0;
    box-sizing: border-box;
}

.content-page .content-info-client li p {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #666666;
}

.content-page .content-info-client li p strong {
    font-weight: bold;
}

.content-page .content-compra {
    float: right;
    width: 130px;
    margin-top: 20px;
}

.content-page .content-compra .quantidade-solicitada {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #666666;
    text-align: center;
}

.content-page .content-compra .quantidade-solicitada strong {
    font-weight: bold;
}

.content-page .content-compra.btn-off {
    width: 100px;
}

.content-page .content-compra .content-quantidade {
    float: left;
    width: 80px;
    margin-right: 10px;
}

.content-page .content-compra .content-quantidade .minus {
    float: left;
    width: 25px;
    height: 30px;
    color: #666;
    cursor: pointer;
    padding-top: 6px;
    font-size: 14px;
    background: #DDD;
    text-align: center;
    box-sizing: border-box;
    vertical-align: middle;
    border-radius: 3px 0 0 3px;
}

.content-page .content-compra .content-quantidade .plus {
    float: left;
    width: 25px;
    height: 30px;
    color: #666;
    cursor: pointer;
    font-size: 14px;
    padding-top: 6px;
    background: #DDD;
    text-align: center;
    box-sizing: border-box;
    vertical-align: middle;
    border-radius: 0 3px 3px 0;
}

.content-page .content-compra .content-quantidade input {
    float: left;
    width: 30px;
    height: 30px;
    outline: none;
    font-size: 14px;
    color: #666666;
    padding: 2px 4px;
    text-align: center;
    background: white;
    border: 1px solid #dddddd;
}

.content-page .adicionar-carrino {
    float: left;
    width: 40px;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    background: #0597d4;
    text-transform: uppercase;
    border: 1px solid #0597d4;
}

.content-page .adicionar-carrinho-multiselect {
    float: left;
    width: auto;
    outline: none;
    margin: 20px 0;
    cursor: pointer;
    color: white;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    background: #0597d4;
    text-transform: uppercase;
    border: 1px solid #0597d4;
}

.content-page .content-detalhe {
    float: left;
    width: 100%;
}

.content-page .content-detalhe .galeria-imagem {
    float: left;
    padding: 5px;
    width: 40% !important;
    height: 540px !important;
    box-sizing: border-box;
    border: 1px solid #DDDDDD;
}

.content-page .content-detalhe .galeria-imagem img {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    vertical-align: middle;
}

.content-page .content-detalhe .content-text {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 10px 0 0 20px;
}

.content-page .content-detalhe .content-text .title {
    color: #666;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.content-page .content-detalhe .content-text p {
    float: left;
    width: 100%;
    color: #777;
    font-size: 14px;
    line-height: 140%;
    white-space: normal;
}

.content-page .content-detalhe .content-text .price {
    float: left;
    width: 100%;
    font-size: 18px;
    color: #4daa4e;
    font-weight: bold;
    margin-top: 10px;
}

.content-page .content-detalhe .content-text .content-compra {
    float: left;
}

.content-page .content-detalhe .content-text .voltar {
    float: left;
    width: 100%;
    margin-top: 20px;
    border: none;
    color: #666;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    text-align: left;
    background: #f7f7f7;
}

.content-page .content-clientes {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.content-page .content-clientes .combobox {
    float: left;
    width: 300px;
}

.content-page .content-clientes .combobox > div {
    float: left;
    width: 100%;
    font-size: 13px;
    color: #666666;
    margin-bottom: 5px;
}

.content-page .cliente-modal {
    float: left;
    border: none;
    outline: none;
    font-size: 14px;
    cursor: pointer;
    color: #666666;
    margin-top: 20px;
    padding: 8px 10px;
    margin-left: 10px;
    background: transparent
}

.content-page .cliente-modal:hover {
    border-radius: 4px;
    background: #DDD;
}

.content-page .content-selecao {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.content-page .content-selecao:after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    content: "";
    border-radius: 2px;
    position: absolute;
    border: 1px solid #ddd;
}

.content-page .content-selecao:hover:after {
    border-color: #0597d4;
}

.content-page .content-selecao input:checked + .icon:after {
    top: 50%;
    left: 50%;
    width: 16px;
    z-index: 10;
    height: 16px;
    display: block;
    font-size: 10px;
    color: #0597d4;
    content: "\f00c";
    font-weight: 900;
    margin-top: -6px;
    margin-left: -8px;
    position: absolute;
    font-family: 'Font Awesome 5 Free';
}

.content-page .content-selecao input {
    margin: 0;
    opacity: 0;
    z-index: 11;
    float: left;
    width: 16px;
    height: 16px;
    position: relative;
}

.content-page .center-object {
    float: left;
    width: 50px;
    text-align: center;
    margin-left: -15px;
}

.content-page .center-object.all {
    margin-left: -6px;
}

.content-page .detalhe-btn {
    font-size: 12px;
    cursor: pointer;
    color: #666666;
}

.dx-datagrid-rowsview .dx-row {
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

.content-page .content-tabs {
    float: left;
    width: 100%;
}

.content-page .content-tabs .menu-tabs {
    float: left;
    width: 100%;
    position: relative;
}

.content-page .content-tabs .menu-tabs li {
    float: left;
    font-size: 14px;
    cursor: pointer;
    color: #666666;
    padding: 10px 15px;
    margin-right: 10px;
    text-align: center;
    background: #f3f3f3;
    border: 1px solid #DDDDDD;
    border-bottom: none;
}

.content-page .content-tabs .menu-tabs li.active {
    padding-top: 11px;
    background: #FFF;
    margin-bottom: -1px;
}

.content-page .content-tabs .tabs {
    float: left;
    width: 100%;
    background: #FFF;
    border: 1px solid #DDDDDD;
}

.content-page .content-tabs .tabs li {
    float: left;
    width: 100%;
    display: none;
    padding: 10px;
}

.content-page .content-tabs .tabs li.active {
    display: block;
}

.content-page #grid-ficha-financeira {
    float: left;
    width: 100%;
}

.content-page #grid-ficha-financeira p {
    width: 100%;
    margin: 2px 0;
    font-size: 16px;
    display: inline-block;
    text-transform: uppercase;
}

.content-page #grid-ficha-financeira p strong {
    font-weight: bold;
}

.content-page #grid-ficha-financeira hr {
    width: 100%;
    height: 2px;
    display: inline-block;
    background: #666666;
}

.content-page #grid-ficha-financeira span {
    float: left;
    width: 50%;
}

.content-page #grid-ficha-financeira span.quatro {
    width: 25%;
    float: left;
    background: #999999;
    box-sizing: border-box;
    border-right: 2px solid white;
}

.content-page .imprimir {
    float: right;
    cursor: pointer;
    font-size: 16px;
    border: none;
    vertical-align: middle;
    background: #DDDD;
    padding: 7px 10px;
    border-radius: 3px;
    border: 1px solid #9999;
    margin-bottom: 5px;
}


/* COMPUTADOR 1024 */
@media screen and (max-width: 1250px) {
    .content-page .row-item .content-description .title {
        font-size: 16px;
    }

    .content-page .row-item .content-description p {
        font-size: 13px;
    }

    .content-page .adicionar-carrino {
        font-size: 12px;
    }

    .content-page .row-item .content-description {
        padding-left: 15px;
        width: calc(100% - 260px);
    }

    .content-page .content-detalhe .galeria-imagem {
        width: 60% !important;
        height: 400px !important;
    }

    .content-page .content-detalhe .content-text {
        width: 40%;
    }
}


/* TABLET 992 */
@media screen and (max-width: 992px) {
    .content-page .row-item .content-description .title {
        font-size: 14px;
    }

    .content-page .row-item .content-description p {
        font-size: 11px;
    }

    .content-page .row-item .content-description .price {
        font-size: 16px;
    }
}

/* MOBILE 768 */
@media screen and (max-width: 768px) {
    .content-page {
        padding: 20px 0 80px 0;
    }

    .content-page .row-item .content-description {
        padding-left: 10px;
        width: calc(100% - 90px);
    }

    .content-page .row-item {
        padding: 15px;
    }
    
    .content-page .row-item .content-description {
        min-height: 90px;
    }

    .content-page .content-compra {
        float: left;
        width: 130px;
        margin-top: 5px;
        margin-left: 100px;
    }

    .content-page .dx-toolbar-after .dx-datagrid-search-panel {
        width: 100% !important;
    }

    .content-page .dx-toolbar-after {
        width: 96vw;
        margin: 0 2%;
        box-sizing: border-box;
    }

    .content-page .content-detalhe .galeria-imagem {
        width: 100% !important;
        height: 200px !important;
    }

    .content-page .content-detalhe .content-text {
        width: 100%;
        padding: 10px 15px;
    }

    .content-page .content-detalhe .content-compra {
        margin-left: 0;
    }

    .content-page .content-clientes .combobox {
        width: calc(100% - 42px);
    }

    .content-page .content-clientes {
        padding: 0 10px;
    }

    .dx-toolbar-label > div, .dx-toolbar-label > div > div {
        overflow: visible !important;
    }

    .content-info-client, .title-detail {
        padding: 0 10px;
    }

}